[client]
socket = /var/run/mysqld/mysqld.sock

[mysqld]
federated
skip-host-cache
skip-name-resolve
core-file

server-id = 9527
user = mysql
port = 3306
basedir = /usr
datadir = /var/lib/mysql/

# log-error = /var/log/mysql/mysql-error.log
slow_query_log_file = /var/log/mysql/mysql-slow.log

read_only = ON
binlog_format = row
log-bin-index = /var/lib/mysql/mysql-bin.index
log-bin = /var/lib/mysql/mysql-bin
log-timestamps = SYSTEM

#ssl
ssl-ca = /var/lib/mysql/ca.pem
ssl-cert = /var/lib/mysql/server-cert.pem
ssl-key = /var/lib/mysql/server-key.pem

##semi-sync
plugin-load = "semisync_master.so;semisync_slave.so;audit_log.so"
rpl_semi_sync_master_enabled = OFF
rpl_semi_sync_slave_enabled = ON
rpl_semi_sync_master_wait_no_slave = ON
rpl_semi_sync_master_timeout = 1000000000000000000

##repl
skip-slave-start
gtid-mode = ON
enforce-gtid-consistency = ON
slave_parallel_type = LOGICAL_CLOCK
slave_parallel_workers = 0
log-slave-updates

#relay log
relay_log=/var/lib/mysql/mysql-relay-bin
relay_log_index=/var/lib/mysql/mysql-relay-bin.index

master_info_repository = TABLE
relay_log_info_repository = TABLE

#fixed config
slow_query_log = 1
tmp_table_size = 32M
tmpdir = /var/lib/mysql

# audit log
audit_log_file = /var/log/mysql/mysql-audit.log
audit_log_exclude_accounts = "root@localhost,root@127.0.0.1,qc_repl@%"
audit_log_buffer_size = 16M

!includedir /etc/mysql/conf.d
